<template name="postEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'body'}}">
      <label class="control-label" for="body">Content</label>
      <div class="controls">
          <textarea name="body" id="body" type="text" value="{{body}}" placeholder="Post Content"  class="form-control" rows="9"></textarea>
           <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control"/>
            <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>